<%- include('header'); -%>
<form>
    <div class="mb-3">
      <label for="exampleInputregister" class="form-label">register</label>
      <input type="text" class="form-control" id="exampleInputregister" aria-describedby="registerHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputlogin" class="form-label">login</label>
      <input type="text" class="form-control" id="exampleInputlogin">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
<%- include('footer'); -%>
</html>